<!DOCTYPE html>
<html>
<head>
    <title>Operaciones Bancarias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
            margin-top: 50px;
        }

        .btn-primary {
            background-color: #721c24;
            border-color: #721c24;
            margin: 10px;
        }

        .btn-danger {
            background-color: red;
            border-color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center text-primary">Operaciones Bancarias</h2>
        <div class="text-center">
            <a href="/retiro" class="btn btn-primary">RETIRO</a>
            <a href="/transferencia" class="btn btn-primary">TRANSFERENCIA</a>
            <a href="/deposito" class="btn btn-primary">DEPOSITO</a>
            <a href="/evaluar_status" class="btn btn-primary">EVALUAR STATUS</a>
        </div>
        <div class="text-center">
            <a href="/logout" class="btn btn-danger">Salir</a>
        </div>
    </div>
</body>
</html>
